/* .log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.bord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 200px;
    width: 500px;
    background-color: rgba(43, 95, 215, 0.587);
    border-radius: 10px;
}

input{
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #333;
}

button{ 
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    background-color: blue;
} */